* {
  direction: rtl;
}

.input-page {
  min-height: 100vh;  
  background-color: rgba(151, 255, 255, 0.259);
  display: flex;
  flex-direction: column;   
  align-items: center;     
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: rgb(30, 128, 182);
  margin-bottom: 16px;
}

.point-row { 
  direction: ltr;
  padding: 5px;
  align-items: center;
}

input { 
  margin: 5px;
  width: 80px; 
}

.btn { 
  margin-top: 10px;
  padding: 8px 16px; 
  border-radius: 10px ;
  font-weight: bold;
  background-color: rgb(115, 195, 238);
  cursor: pointer;
  border:  rgb(30, 128, 182) solid;
}
